XSD/TAREA 2 XSD/LM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:simpleType name="tipoRotulo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="a"/>
            <xs:enumeration value="b"/>
            <xs:enumeration value="c"/>
            <xs:enumeration value="d"/>
            <xs:enumeration value="e"/>
            <xs:enumeration value="f"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoDescripcionOpcion">
        <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoCorrecta">
        <xs:restriction base="xs:boolean">
            <xs:pattern value="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoOrden">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="999"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoPuntos">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="99.999"/>
            <xs:totalDigits value="5"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoIdEjercicio">
        <xs:restriction base="xs:ID">
            <xs:pattern value="P[1-9]E([1-9]|[1-9][0-9])"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="modulo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="unidades">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="unidad" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="test" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="opciones">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="opcion" minOccurs="1" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="rotulo"      type="tipoRotulo"           use="required"/>
                                                                        <xs:attribute name="descripcion" type="tipoDescripcionOpcion" use="required"/>
                                                                        <xs:attribute name="correcta"    type="tipoCorrecta"          use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id"    type="xs:ID"    use="required"/>
                                                <xs:attribute name="orden" type="tipoOrden" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id"     type="xs:ID"     use="required"/>
                                    <xs:attribute name="nombre" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="prueba" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="parte" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ejercicio" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="enunciado" type="xs:string"/>
                                                    <xs:element name="items" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="descripcion" type="xs:string"  use="required"/>
                                                                        <xs:attribute name="peso"        type="xs:integer" use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="anexos" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="anexo" minOccurs="1" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="src" type="xs:string" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id"     type="tipoIdEjercicio" use="required"/>
                                                <xs:attribute name="puntos" type="tipoPuntos"      use="required"/>
                                                <xs:attribute name="unidad" type="xs:IDREF"        use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id"            type="xs:ID"      use="required"/>
                                    <xs:attribute name="titulo"        type="xs:string"  use="required"/>
                                    <xs:attribute name="tarea"         type="xs:anyURI"  use="optional"/>
                                    <xs:attribute name="puntos_totales" type="tipoPuntos" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id"     type="xs:ID"    use="required"/>
                        <xs:attribute name="titulo" type="xs:string" use="required"/>
                        <xs:attribute name="fecha"  type="xs:date"  use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id"     type="xs:ID"    use="required"/>
            <xs:attribute name="titulo" type="xs:string" use="required"/>
        </xs:complexType>

        <xs:key name="claveUnidad">
            <xs:selector xpath="unidades/unidad"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:keyref name="refEjercicioUnidad" refer="claveUnidad">
            <xs:selector xpath="prueba/parte/ejercicio"/>
            <xs:field xpath="@unidad"/>
        </xs:keyref>

    </xs:element>

</xs:schema>
